<div>
  <form #flashForm="ngForm" class="has-text-left">
    <h1 class="is-size-3">{{editing ? 'Edit': 'Add New'}} Flash Card</h1>
    <div class="field">
      <label class="label">Question</label>
      <div class="control">
        <input required class="input" type="text" name="question" [(ngModel)]="flash.question"
               #question="ngModel" [ngClass]="{'is-danger': question.invalid && !question.pristine}">
      </div>
    </div>
    <div class="field">
      <label class="label">Answer</label>
      <div class="control">
        <input required class="input" type="text" name="answer" [(ngModel)]="flash.answer"
               #answer="ngModel" [ngClass]="{'is-danger': answer.invalid && !question.pristine}">
      </div>
    </div>
    <button *ngIf="editing; else submitBtn" class="button is-primary" type="submit"
            (click)="handleUpdate()" [disabled]="flashForm.invalid">Update
    </button>
    <ng-template #submitBtn>
      <button class="button is-primary" type="submit" (click)="handleSubmit()" [disabled]="flashForm.invalid">Submit</button>
    </ng-template>
    <button *ngIf="editing; else clearBtn" class="button clear-btn" (click)="handleCancel()">Cancel</button>
    <ng-template #clearBtn>
      <button class="button clear-btn" (click)="handleClear()">Clear</button>
    </ng-template>
  </form>
</div>
<div class="flashs" *ngIf="flashs$ | async as flashs">
  <app-flash *ngFor="let flash of flashs; trackBy: trackByFlashId" [flash]="flash"
             (toggleEvent)="handleToggleCard($event)" (deleteEvent)="handleDeleteCard($event)"
             (rememberedEvent)="handleRememberedChange($event)" (editEvent)="handleEdit($event)"></app-flash>
</div>
